{erl_opts, [debug_info]}.
%% XXX The following is a work-around until this bug is fixed:
%%     * https://github.com/lfe-rebar3/rebar3_lfe/issues/58
{lfe_opts, [{i,"_build/default/lib"}, {i, "./apps"}]}.

{deps, [
  {lfe, {git, "http://github.com/rvirding/lfe", {branch, "develop"}}},
  {'lfe-sshd', {git, "https://github.com/oubiwann/lfe-sshd", {branch, "master"}}},
  {logjam, {git, "https://github.com/lfex/logjam", {branch, "release/1.0.x"}}},
  {pgo, {git, "https://github.com/erleans/pgo", {tag, "v0.11.0"}}},
  {sendmail, {git, "https://github.com/erlsci/sendmail", {tag, "0.5.1"}}},
  {uuid, {git, "https://github.com/okeuday/uuid", {tag, "v2.0.0"}}},
  {'hxgm30.story', {git, "https://github.com/hexagram30/story", {tag, "1.0.0"}}}
]}.

{plugins, [
  {rebar3_lfe, {git, "http://github.com/lfe-rebar3/rebar3_lfe", {branch, "release/0.3.x"}}},
  rebar3_proper
]}.

{profiles, [
  {dev, [
    {deps, [
      {dbschema, {git, "https://github.com/egobrain/dbschema", {tag, "0.2.2"}}}
    ]}
  ]},
  {test, [
    {erl_opts, [nowarn_export_all]},
    {deps, [proper, recon]}
  ]},
  {prod, [
    {relx, [{dev_mode, false}, {include_erts, true}]}
  ]}
]}.

%{provider_hooks, [
%    {post, [
%        {compile, {lfe, compile}}
%    ]}
%]}.

{xref_checks, [
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{dialyzer, [
    {warnings, [unknown]}
]}.

{relx, [{release, {'hxgm30.mush', "0.2.0-dev"},
         [crypto,
          sasl,
          pgo,
          %%'lfe-sshd',
          'hxgm30.store',
          'hxgm30.npc',
          %%'hxgm30.world',
          'hxgm30.mush'
        ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{alias, [
  {build, [compile, {lfe, compile}, release]},
  {'build-clean', [{lfe, 'clean-all'}, build]},
  {repl, [{lfe, repl}]},
  {dev, [compile, release, {lfe, repl}]},
  {coverage, [{proper, "-c"},  {cover, "-v --min_coverage=0"}]},
  {check, [compile,
           release,
           xref,
           %dialyzer,
           coverage]},
  %% The following need to be run with 'rebar3 as dev'
  {'migrate', [
    compile,
    {lfe, compile},
    {lfe, run, "-m priv/scripts/migrate.lfe -- ./config/sys.config up"}]}
]}.
