{erl_opts, [debug_info]}.

{deps, [
  {lfe, {git, "http://github.com/rvirding/lfe", {branch, "develop"}}},
  {'lfe-sshd', {git, "https://github.com/oubiwann/lfe-sshd", {branch, "master"}}},
  {epgsql, {git, "https://github.com/epgsql/epgsql", {tag, "4.4.0"}}},
  {gen_smtp, {git, "https://github.com/gen-smtp/gen_smtp", {tag, "0.15.0"}}}
]}.

{plugins, [
  {rebar3_lfe, {git, "http://github.com/lfe-rebar3/rebar3_lfe", {branch, "master"}}}
]}.

{relx, [{release, {'hxgm30.mush', "0.1.0"},
         [lfe,
          sasl,
          'lfe-sshd',
          'hxgm30.store',
          'hxgm30.mail',
          'hxgm30.mush',
          'hxgm30.world'
        ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
  {prod, [
    {relx, [{dev_mode, false}, {include_erts, true}]}
  ]}
]}.
