[
  {'hxgm30.mush', [
      {shell, [
          {prompt, "mush> "},
          {'text-width', 72}
      ]},
      {registration, [
          {banner, "text/reg.banner"},
          {email, [
              %% XXX Seems that email address with names + brackets breaks the
              %% sendmail wrapper right now
              %%{from, "Hexagram30 MUSH <registration@noreply.hxgm30.mush>"},
              {from, "registration@noreply.hxgm30.mush"},
              {subject, "New user account confirmation"},
              {template, "text/confirm.email"}
          ]},
          {help, "text/reg-commands.help"},
          {listener, [
              {'pool-size', 5},
              {port, 2519}
          ]},
          {'tcp-opts', [
              {active, once},
              {packet, line},
              {keepalive, true},
              {linger, {true, 1}},
              {send_timeout, 5},
              {send_timeout_close, true}
          ]}
      ]}
  ]},
  {'hxgm30.npc', []},
  {'hxgm30.store', []},
  {'hxgm30.world', []},
  {'lfe-sshd', [
      {app, 'hxgm30.mush'},
      %% lfe> (lists:foldl (lambda (x acc) (+ acc x)) 0 "Hexagram30 MUSH SSH Port")
      %% 2520
      {port, 2520},
      {passwords, [
          {"alice","abc"},
          {"bob","123"}
      ]}
  ]},
  {pgo, [
      {pools, [
          {default, #{pool_size => 5,
                      host => "127.0.0.1",
                      port => 5432,
                      database => "mush",
                      user => "root",
                      password => "abc123"
                    }
          }
      ]}
  ]},
  {dbschema, [
      {'migration-dir', "./priv/db/migrations"}
  ]},
  {kernel, [
      {logger, [
          {handler, default, logger_std_h,
           #{level => debug,
             formatter => {logjam, #{colored => true,
                                     time_designator => $\s,
                                     time_offset => "",
                                     time_unit => second,
                                     strip_tz => true,
                                     level_capitalize => true
                                   }
                          }
           }}
      ]}
      %%{logger_level, debug}
  ]}
].
