[
  {'hxgm30.mush', []},
  {'hxgm30.mail', []},
  {'hxgm30.store', []},
  {'hxgm30.world', []},
  {'lfe-sshd', [
    {app, 'hxgm30.mush'},
    %% lfe> (lists:foldl (lambda (x acc) (+ acc x)) 0 "Hexagram30 MUSH SSH Port")
    %% 2520
    {port, 2520},
    {passwords, [{"alice","abc"},
                 {"bob","123"}
    ]}
  ]}
].
