[
  {'hxgm30.mush', [
    {registration, [{port, 2519},
                    {active, once},
                    {packet, line}]}
  ]},
  {'hxgm30.mail', []},
  {'hxgm30.store', []},
  {'hxgm30.world', []},
  {'lfe-sshd', [
    {app, 'hxgm30.mush'},
    %% lfe> (lists:foldl (lambda (x acc) (+ acc x)) 0 "Hexagram30 MUSH SSH Port")
    %% 2520
    {port, 2520},
    {passwords, [{"alice","abc"},
                 {"bob","123"}
    ]}
  ]},
  {kernel, [
      {logger, [
          {handler, default, logger_std_h,
          #{formatter => {logjam, #{
              colored => true,
              time_designator => $\s,
              time_offset => "",
              time_unit => second,
              strip_tz => true,
              level_capitalize => true
            }}}
          }
      ]},
      {logger_level, debug}
  ]},
].
